@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Add-new-todo {
  margin: 30px 0;
}
.single-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 38, 230);
  color: white;
  padding: 0 10px;
  margin-top: 5px;
  width: 15rem;
  border-radius: 3px;
}

.delete-button {
  background-color: transparent;
  color: rgb(255, 202, 186);
  padding: 10px 20px;
  border-radius: 3px;
}

.delete-button:hover {
  color: white;
  background-color: red;
}